
body{
   width: 100%;
   height: 109vh;
   font-family: sans-serif;
   margin: 3px;
   padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #9fbffD;
    padding: 0 .8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header h2{
    font-size: 1.2rem;
    color: white;
}
.header h2 em{
    font-size: 1.5rem;
    color: orange;
}
.navigation{
    display: none;
}
/* homePage */
.banner{
    display: none;
}
.homepage{
    display: none;
    position: absolute;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("assets/happy-young.png");;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    color: white;
}
.homepage h2{
    margin-top: 40%;
    text-align: center;
}
.homepage p{
    font-size: .9rem;
}
.homepage button{
    margin-left: 40%;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    background: orange;
}

/* job list board */
#seekersDashbord{
    display: none;
    position: absolute;
    width: 100%;
}
.headSection{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 20px;
}
.head{
    width: 100%;
}
.head h2{
    font-size: 1.5rem;
}
.filters{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 10px;

}
.filters input{
    height: 30px;
    padding: 0px 8px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 10px;
    border: .8px solid black;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
.btn2:hover{
    background: #9fbffD;
}
.btn2 button{
    background: transparent;
    font-size: 1rem;
    border: none;
}
.serchBtn2{
    display: none;
}

.jobNumber{
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
}
.arrows{
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
}
.arrows p{
    display: none;
}
.jobAvailable{ 
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}
.jobs{
    background: rgb(220, 233, 238);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.jobTitle{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
}
.payment{
    width: 85%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.payment div{
    font-weight: bold;
    font-size: 17px;
}
.jobDiscription{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}
.jobDiscription div{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.Btn{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.Btn p{
  display: none;
}
.Btn button{
    margin: auto;
    width: 90%;
    padding: 5px;
    background: #9fbffD;
    border-radius: 10px;
    border: none;
    color: black;
    margin-bottom: 5px;
}
.Btn button:hover{
    background: #07063D;
    color: white;
}

.searchBored{
    display: none;
}

/* job proposals */
#proposal{
    position: absolute;
    width: 100%;
}
.proposalHeader{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
#proposal h2{
    font-size: 1.4rem;
    margin-left: 15px;
}
.proposalNavigation ul{
    position: absolute;
    width: 70%;
    top: 12%;
    display:  flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 2px;
    margin-left: 15px;
}
.proposalHeader ul li{
    list-style: none;
    margin-right: 10px;
    padding: 4px;
}
.proposalHeader ul li:hover{
    border-bottom: 3px solid #07063D;
}
.proposalHeader ul a{
    text-decoration: none;
    color: black;

}
/* recived */
.received{
    display: none;
    flex-direction: column;
}
.recivedJobs{
    background: rgb(220, 233, 238);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.appliedJobs{
    background: rgb(220, 233, 238);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
@media(min-width:500px){
   .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    } 
    nav{
        
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        
    }
    nav ul li{
       color: white;
       list-style: none;
       margin-right: 50px;
       padding: 5px;
       border-radius: 10px;
       border-bottom: 1px solid black;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

    }
    nav ul li:hover{
        background: rgb(87, 164, 226);
        border-bottom: 3px solid orangered;
    }
    .btn1 button{
        background: transparent;
        padding: 6px;
        border-radius: 10px;
        border: none;
        margin-right: 10px;
    }
    .btn1 .login1{
        background: orange;
    }
    .btn1 .signup{
       background: #07063D;
       color: white;
    }
    .btn1 button:hover{
        background: white;
        color: black;
    }
    .humbuger{
        display: none;
    }
    /* homepage */
    .homepage{
        display: none;
        background: white;
        color: #07063D;
        padding-left: 30px;
        height: 90vh;
    }
    .homepage h2{
        margin-top: 30%;
        width: 50%;
        text-align: start;
        
    }
    .banner{
        display:flex;
    }
    .homepage button{
        margin-left: 0%;
        margin-top: 20px;
        padding: 7px 20px;
        color: white;
        border-radius: 10px;
        border: none;
        background: orange;
    }
    /* job listing */
    .headSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .head{
        width: 70%;
    }
    .filters{
        flex-direction: row;
    }
    .serchBtn2{
        display: flex;
    }
    .filters input{
        width: 48%;
    }
    .btn2{
        border: none;
        align-items: end;
        margin-right: 70px;
        margin-bottom: 7px;
        justify-content: space-between;
        width: 12%;
    }
    .btn2 button{
        border: 1px solid black;
        padding: 5px 15px;
        border-radius: 10px;
    }
    .btn2:hover{
        background: none;
    }
    .jobBorad{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       }
       .allJobs{
        width: 70%;
       }
       .jobs{
        width: 100%;
        margin-left: 10px;
        border-radius: 20px;
        height: 200px;
        margin-bottom: 10px;
       }
       .payment{
        width: 30%;
       }
       .jobDiscription{
        width: 40%;
       }
       .searchBored{
          display: flex;
          background: rgb(189, 227, 245);
          height: 300px;
          margin-right: 30px;
          width: 20%;
          flex-direction: column;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 20px;
       }
       .searches{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
       }
       .topSearchBtn{
        display: flex;
        justify-content: center;
       }
       .topSearchBtn button{
        background: white;
        padding: 8px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
       }
       .topSearchBtn button:hover{
        background: rgb(240, 79, 79);
        color: white;
       }
       .arrows{
        position: relative;
        display: flex;
        align-items: center;
        right: 30%;
       }
       .arrows p{
        display: block;
       }
       .Btn p{
        display: flex;
        }
        .Btn button{
            width: 30%;
            margin: 2px;
            padding: 0px;
            width: 10%;
        }
        .sBtn2{
            background: orange;
        }
}