 
body{
   width: 100%;
   height: 100vh;
   font-family: sans-serif;
   margin: 3px;
   padding: 0;
   overflow: auto;
}
.header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #9fbffD;
    padding: 0 .8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header h2{
    font-size: 1.2rem;
    color: white;
}
.header h2 em{
    font-size: 1.5rem;
    color: orange;
}
.navigation{
    display: none;
}
/* homePage */
.banner{
    display: none;
}
.homepage{
    display: none;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("assets/happy-young.png");;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    color: white;
}
.homepage h2{
    margin-top: 40%;
    text-align: center;
}
.homepage p{
    font-size: .9rem;
}
.homepage button{
    margin-left: 40%;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    background: orange;
}
.ownAccount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ownAccount a{
    color: orange;
    font-size: 1rem;
    margin-left: 6px;
    text-decoration: none;  
}
/* job list board */
#seekersDashbord{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.headSection{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 20px;
}
.head{
    width: 100%;
}
.head h2{
    font-size: 1.5rem;
}
.filters{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 10px;

}
.filters input{
    height: 30px;
    padding: 0px 8px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 10px;
    border: .8px solid black;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
.btn2:hover{
    background: #9fbffD;
}
.btn2 button{
    background: transparent;
    font-size: 1rem;
    border: none;
}
.serchBtn2{
    display: none;
}

.jobNumber{
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
    align-items: center;
}
.arrows{
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
}
.arrows p{
    display: none;
}
.jobAvailable{ 
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}
.jobs{
    background: rgb(220, 233, 238);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.jobTitle{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
}
.payment{
    width: 85%;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.payment div{
    font-weight: bold;
    font-size: 17px;
}
.jobDiscription{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}
.jobDiscription div{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.Btn{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.Btn p{
  display: none;
}
.Btn button{
    margin: auto;
    width: 90%;
    padding: 5px;
    background: #9fbffD;
    border-radius: 10px;
    border: none;
    color: black;
    margin-bottom: 5px;
}
.Btn button:hover{
    background: #07063D;
    color: white;
}

.searchBored{
    display: none;
}


/* job proposals */
#proposal{
    display: none;
    position: absolute;
    width: 100%;
}
.proposalHeader{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
#proposal h2{
    font-size: 1.4rem;
    margin-left: 15px;
}
.proposalNavigation ul{
    position: absolute;
    width: 70%;
    top: 12%;
    display:  flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 2px;
    margin-left: 15px;
}
.proposalHeader ul li{
    list-style: none;
    margin-right: 10px;
    padding: 4px;
}
.proposalHeader ul li:hover{
    border-bottom: 3px solid #07063D;
}
.proposalHeader ul a{
    text-decoration: none;
    color: black;

}


/* recived */
.received{
    display: none;
    flex-direction: column;
}
.recivedJobs{
    background: rgb(220, 233, 238);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.appliedJobs{
    background: rgb(220, 233, 238);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}



/* jobGiver DashBoard */
.jobGiversBoard{
    display: none;
}
.jobGiversBoard .buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jobGiversBoard .buttons button{
    width: 100%;
    padding: 5px;
}
.seakersName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* mobile humbuger */
.humbuger{
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background-color: none;
    outline: none ;
};
.bar{
    position: relative;
}
.humbuger .bar, .humbuger::after, .humbuger::before{
    content: "";
    display: block;
    width: 80%;
    height: 4px;
    margin: 4px 0px;
    background: white;
}
.humbuger.is-active::before{
    transform: rotate(-45deg) translate(-1px,6px);
}
.humbuger.is-active::after{
    transform: rotate(45deg) translate(-5px,-9px);
}
.humbuger.humbuger.is-active .bar{
    opacity: 0;
}



/* mobile navigation */
.mobilemenu{
    position: fixed;
    background-color: white;
    display: block;
    margin: 0px;
    width: 100%;
    height: 109vh;
    left: 100%;
    z-index: 90;
    transition: .3s ease-out;
} 
.mobilemenu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}
.mobilemenu ul li{
    background: #07063D;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
}
.mobilemenu ul li a{
    color: white;
    text-decoration: none;
}
.mobileBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.mobileBtn li:hover{
    background: red;
}
.mobileBtn li{
    list-style: none;
    padding: 8px 50px;
    border-radius: 10px;
    background-color: rgb(248, 97, 97);
    margin-left: 33px;
}
.mobileBtn li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.la-active{
    left: .7%;
}



/* sign up Page */
#signUpPage{
    display: none;
    flex-direction: column;
    margin-left: 10px;
}
#signUpPage h2{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(43, 35, 35);

}
#signUpPage p{
    margin: auto;
    margin-bottom: 10px;
}
#signup2{
    margin: auto;
    margin-bottom: 10px;
}
#signup2 button{
    color: white;
    background: red;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 7px;
}
.inputField div{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
}
.inputField div input{
    height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 7px;
}
.inputField select{
    height: 40px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 7px;
}
.inputField div .success{
    border: 2px solid green;
    color: green;
}
.inputField div .error{
    border: 1px solid red;
    color: red;
}



/* login */
#loginPage{
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
}
.loginInputField div{
    display: flex;
    flex-direction: column;
    width: 100%;  
}
.loginInputField div input{
    width: 120%;
    height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 10px;
    border-radius: 7px;
}
#formLogin{
    padding: 5px 17px;
    border: none;
    margin-top: 20px;
    background: red;
    color: white;
    border-radius: 10px;
}
#formLogin:hover{
   background: orange;
}
.loginInputField div .success{
    border: 2px solid green;
    color: green;
}
.loginInputField div .error{
    border: 1px solid red;
    color: red;
}
.errorLoginMessage{
    color: red;

}



/* profile */
#profile{
    padding-top: 10px;
    position: relative;
}
.profilePicture{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.profileName{
    margin-left: 10px;
}
.image{
    width: 20%;
    border-radius: 50px;
    border: 2px solid black;
    overflow: hidden;
}
.image img{
    width: 100%;
}
.profileSetting span{
    color: gray;
}
.profileSetting button{
    border: none;
    color: black;
    background: transparent;
}
.profileHeader{
    height: 50%;
    border-bottom: 1px solid black;
    padding-bottom: 60px;
}
.profileNavigation ul{
    display: flex;
    padding: 0px;
    position: absolute;
    top: 13.5%;
}
.profileNavigation ul li{
    list-style: none;
    margin-left: 1rem;
    padding: .5rem;
}
.profileNavigation ul li:hover{
    border-bottom: 3px solid black;
}

.onlyWeb{
    display: none;
}
.vitalInfomations{
    width: 85%;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}
.informations div{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
.informations span{
    font-size: .8rem;
}
.about{
    padding: 10px;
}
@media(min-width:500px){
   .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    } 
    nav{
        
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        
    }
    nav ul li{
       color: white;
       list-style: none;
       margin-right: 50px;
       padding: 5px;
       border-radius: 10px;
       border-bottom: 1px solid black;
    }
    nav ul li a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;

    }
    nav ul li:hover{
        background: rgb(87, 164, 226);
        border-bottom: 3px solid orangered;
    }
    .btn1 button{
        background: transparent;
        padding: 6px;
        border-radius: 10px;
        border: none;
        margin-right: 10px;
    }
    .btn1 .login1{
        background: orange;
    }
    .btn1 .signup{
       background: #07063D;
       color: white;
    }
    .btn1 button:hover{
        background: white;
        color: black;
    }
    .mobileHumbuger{
        display: none;
    }
    /* homepage */
    .homepage{
        display: flex;
        background: white;
        color: #07063D;
        padding-left: 30px;
        height: 90vh;
    }
    .homepage h2{
        margin-top: 30%;
        width: 50%;
        text-align: start;
        
    }
    .banner{
        display:flex;
    }
    .ownAccount{
        display: none;
    }
    .homepage button{
        margin-left: 0%;
        margin-top: 20px;
        padding: 7px 20px;
        color: white;
        border-radius: 10px;
        border: none;
        background: orange;
    }
    /* job listing */
    .headSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .head{
        width: 70%;
    }
    .filters{
        flex-direction: row;
    }
    .serchBtn2{
        display: flex;
    }
    .filters input{
        width: 48%;
    }
    .btn2{
        border: none;
        align-items: end;
        margin-right: 70px;
        margin-bottom: 7px;
        justify-content: space-between;
        width: 12%;
    }
    .btn2 button{
        border: 1px solid black;
        padding: 5px 15px;
        border-radius: 10px;
    }
    .btn2:hover{
        background: none;
    }
    .jobBorad{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       }
       .allJobs{
        width: 70%;
       }
       .jobs{
        width: 100%;
        margin-left: 10px;
        border-radius: 20px;
        height: 200px;
        margin-bottom: 10px;
       }
       .payment{
        width: 30%;
       }
       .jobDiscription{
        width: 40%;
       }
       .searchBored{
          display: flex;
          background: rgb(189, 227, 245);
          height: 300px;
          margin-right: 30px;
          width: 20%;
          flex-direction: column;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 20px;
       }
       .searches{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
       }
       .topSearchBtn{
        display: flex;
        justify-content: center;
       }
       .topSearchBtn button{
        background: white;
        padding: 8px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
       }
       .topSearchBtn button:hover{
        background: rgb(240, 79, 79);
        color: white;
       }
       .arrows{
        position: relative;
        display: flex;
        align-items: center;
        right: 30%;
       }
       .arrows p{
        display: block;
       }
       .Btn p{
        display: flex;
        }
        .Btn button{
            width: 30%;
            margin: 2px;
            padding: 0px;
            width: 10%;
        }
        .sBtn2{
            background: orange;
        }
        /* humbuger */
        
        

        /* jobGivers */
        .jobGiversBoard{
            display: none;
        }
        .jobGiversBoard .buttons{
            width: 30%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .jobGiversBoard .buttons button{
            width: 100%;
            padding: 5px;
        }
        .seakersName{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .mobilemenu{
            display: none;
        }

        /* signup page */
        #signUpPage{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        .inputField div{
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: auto;
        }

        /* profile */
        .profileHeader{
            border-bottom: 1px solid black;
            padding-bottom: 60px;
            display: flex;
            justify-content: space-between;
            padding-right: 40px;
            padding-left: 20px;
        }
        .image{
            width: 5%;
            border-radius: 50px;
            border: 2px solid black;
            overflow: hidden;
        }
        .image img{
            width: 100%;
        }
        .onlyWeb{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .onlyWeb div{
            margin-top: 10px;
        }
        .Active{
            width: 5px;
            padding: 2px;
            height: 5px;
            border-radius: 50%;
            background: green;
        }
        .onlyWeb button{
            padding: 10px;
            border: none;
            background-color: #07063D;
            color: white;
            border-radius: 20px;
        }
        .onlyWeb button:hover{
          background: #131174;
        }

        .vitalInfomations{
            width: 18%;
            margin: 10px;
            margin-top: 20px;
            padding: 10px;
            margin-right: 20px;
            border: 2px solid black;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 2fr;
        }
        .informations div{
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 2px;
        }
        .profileBody{
            display: flex;
            flex-direction: row-reverse;
        }
        .about{
            padding-left: 10px;
        }
}